<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>btnTitle</key>
		<string>发布求助</string>
		<key>btnSubTitle</key>
		<string>生活中的大小问题，让邻居来帮你</string>
		<key>tags</key>
		<array>
			<string>求助</string>
		</array>
		<key>publishTitle</key>
		<string>求助</string>
		<key>publishDefaultTitle</key>
		<string>说说有什么需要好邻居帮忙的吧</string>
		<key>locIcon</key>
		<string>ico_feed_post_help.png</string>
		<key>range</key>
		<integer>1</integer>
		<key>publishType</key>
		<integer>1</integer>
		<key>postType</key>
		<integer>2</integer>
		<key>callbackUrl</key>
		<string>youlin://pagehost/feed/home?args=%7B%22tabName%22%3A%22%E6%B1%82%E5%8A%A9%22%7D&amp;anime_type=4#refresh</string>
	</dict>
	<dict>
		<key>btnTitle</key>
		<string>发布闲置</string>
		<key>btnSubTitle</key>
		<string>跟邻居分享闲置的好东西</string>
		<key>tags</key>
		<array>
			<string>闲置</string>
		</array>
		<key>publishTitle</key>
		<string>闲置</string>
		<key>publishDefaultTitle</key>
		<string>有什么闲置的好东西分享给邻居吧</string>
		<key>btnIconUrl</key>
		<string>http://7xiplb.com1.z0.glb.clouddn.com/ico_feed_post_sell.png</string>
		<key>range</key>
		<integer>1</integer>
		<key>publishType</key>
		<integer>0</integer>
		<key>postType</key>
		<integer>1</integer>
		<key>callbackUrl</key>
		<string>youlin://pagehost/feed/home?args=%7B%22tabName%22%3A%22%E9%97%B2%E7%BD%AE%22%7D&amp;anime_type=4#refresh</string>
		<key>publishUrl</key>
		<string>http://huodong.youlin.cn/youlinEvent/statics/buy/html/publish.html</string>
	</dict>
	<dict>
		<key>btnTitle</key>
		<string>发布活动</string>
		<key>btnSubTitle</key>
		<string>空闲时间，约邻居一起出来玩</string>
		<key>tags</key>
		<array>
			<string>活动</string>
		</array>
		<key>publishTitle</key>
		<string>活动</string>
		<key>publishDefaultTitle</key>
		<string>空闲时间，约邻居一起出来玩</string>
		<key>btnIconUrl</key>
		<string>http://7xiplb.com1.z0.glb.clouddn.com/ico_feed_post_event.png</string>
		<key>range</key>
		<integer>1</integer>
		<key>publishType</key>
		<integer>1</integer>
		<key>postType</key>
		<integer>1</integer>
		<key>callbackUrl</key>
		<string>youlin://pagehost/feed/home?args=%7B%22tabName%22%3A%22%E6%B4%BB%E5%8A%A8%22%7D&amp;anime_type=4#refresh</string>
	</dict>
	<dict>
		<key>btnTitle</key>
		<string>发布闲聊</string>
		<key>btnSubTitle</key>
		<string>晒晒新鲜事，和邻居聊聊家常</string>
		<key>tags</key>
		<array>
			<string>闲聊</string>
		</array>
		<key>publishTitle</key>
		<string>闲聊</string>
		<key>publishDefaultTitle</key>
		<string>跟好邻居们聊点什么吧</string>
		<key>locIcon</key>
		<string>ico_feed_post_chat.png</string>
		<key>range</key>
		<integer>1</integer>
		<key>publishType</key>
		<integer>1</integer>
		<key>postType</key>
		<integer>1</integer>
		<key>callbackUrl</key>
		<string>youlin://pagehost/feed/home?args=%7B%22tabName%22%3A%22%E9%9A%8F%E4%BE%BF%E8%AF%B4%E8%AF%B4%22%7D&amp;anime_type=4#refresh</string>
	</dict>
</array>
</plist>
