<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小区广场</string>
		<key>imageName</key>
		<string>ico_share_youlin.png</string>
		<key>function</key>
		<string>onTapShareSquare:</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>有邻邻居</string>
		<key>imageName</key>
		<string>ico_share_to_neighbort.png</string>
		<key>function</key>
		<string>onTapSharePerson:</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>群组</string>
		<key>imageName</key>
		<string>ico_share_to_groupchat.png</string>
		<key>function</key>
		<string>onTapShareGroup:</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微信好友</string>
		<key>imageName</key>
		<string>ico_share_wechat.png</string>
		<key>function</key>
		<string>onTapShareWeChatFriend:</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>朋友圈</string>
		<key>imageName</key>
		<string>ico_share_wechat_monment.png</string>
		<key>function</key>
		<string>onTapShareWeChat:</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微博</string>
		<key>imageName</key>
		<string>ico_share_weibo.png</string>
		<key>function</key>
		<string>onTapShareWeibo:</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ好友</string>
		<key>imageName</key>
		<string>ico_share_qq.png</string>
		<key>function</key>
		<string>onTapShareTencent:</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ空间</string>
		<key>imageName</key>
		<string>ico_share_qzoom.png</string>
		<key>function</key>
		<string>onTapShareQzone:</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
